.card
  - if article.images.present?
    = image_tag article.images.sample.file , class: 'card-img-top', alt: article.name
  .card-body
    %h2.card-title= article.name
    %p.card-text= article.content
  .card-footer
    .row
      .col-12
        %p
          %small.text-muted Created at #{article.created_at.to_formatted_s(:long)}
          %small.text-muted by #{article.user.email}
