#homepage
  %section#home-panel.jumbotron.text-center.mb-0.py-0
    .container.vh-100.d-flex
      .row.justify-content-center.align-self-center
        .col-12
          %h1.h1.jumbotron-heading My Personel Food Blog
          %p.lead.text-muted
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est voluptas, dolore nam nemo illo ut sapiente vitae commodi magnam provident voluptatum architecto aspernatur animi modi numquam adipisci necessitatibus totam.
  %section.container-fluid
    .row
      .col-sm-6.px-0
        .w-100
          = render 'carousel', id: 'recent', foods: @recent_foods
      .col-sm-6.px-0
        .w-100
          = render 'carousel', id: 'popular', foods: @popular_foods
  %section.container.py-5
    .card-deck
      .card
        = image_tag 'food-1', class: 'card-img-top', alt: 'sample food 1'
        .card-body
          %h5.card-title Card title
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card-footer
          %small.text-muted Last updated 3 mins ago
      .card
        = image_tag 'food-1', class: 'card-img-top', alt: 'sample food 1'
        .card-body
          %h5.card-title Card title
          %p.card-text This card has supporting text below as a natural lead-in to additional content.
        .card-footer
          %small.text-muted Last updated 3 mins ago
      .card
        = image_tag 'food-1', class: 'card-img-top', alt: 'sample food 1'
        .card-body
          %h5.card-title Card title
          %p.card-text
            This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod explicabo maiores accusamus provident pariatur, quas officia deserunt, illo repellendus iste molestias delectus, ea quasi doloribus enim. Error ut quidem earum!
        .card-footer
          %small.text-muted Last updated 3 mins ago
