#homepage
  %section#home-panel.jumbotron.text-center.mb-0.py-0
    .container.vh-100.d-flex
      .row.justify-content-center.align-self-center
        .col-12
          %h1.h1.jumbotron-heading My Personel Food Blog
          %p.lead.text-muted
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est voluptas, dolore nam nemo illo ut sapiente vitae commodi magnam provident voluptatum architecto aspernatur animi modi numquam adipisci necessitatibus totam.
  %section.container-fluid
    .row
      .col-sm-6.px-0
        .w-100
          = render 'carousel', id: 'recent', foods: @recent_foods
      .col-sm-6.px-0
        .w-100
          = render 'carousel', id: 'popular', foods: @popular_foods
  %section.container.py-5
    .card-deck
      - @articles.each do |article|
        .card
          - if article.images.present?
            = image_tag article.images.sample.file , class: 'card-img-top', alt: article.name
          .card-body
            %h2.card-title= article.name
            %p.card-text= article.content
          .card-footer
            %small.text-muted Last updated 3 mins ago
